# **
# !dist/**
# !assets/**
# !syntaxes/**
# !package.json
# !package-lock.json
# !language-configuration.json
# !README.md
# !CHANGELOG.md
# !LICENSE

.git/**
.github/**
.vscode/**
.vscode-test/**
node_modules/**
out/**
src/**
**/.gitignore
**/.prettierrc
**/.eslintrc.json
**/tsconfig.json
**/*.map
**/*.ts
